# Node.js
node_modules/
*.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/vite.config.ts

# Logs
logs/
*.log

# Keycloak
keycloak/docker-compose.yml
keycloak/data
keycloakify-starter-tailwind
keycloak