.taskContainer.isEdit {
  display: none; /* Полностью скрыть контейнер */
}

.taskInput {
  background-color: yellow;
  border: 1px solid bisque;
  width: 400px;
  height: 29px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 2px;
  display: block; /* Гарантируем отображение */
}
